@import "../../../theme/variables";

.main-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    background-color: $verde;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    padding: 0px 8px 0px 8px;
    text-align: center;
    background-color: $verde;
    font-family: $brandon-medium;
    color: $blanco;
    font-size: 4vw;
    @media (max-width: 767.98px) {
        font-size: 9vw;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 9vw;
    }
}

.numero {
    font-family: $didot;
    margin-right: 8px;
    margin-left: 8px;
}
