@import '../../../../../theme/variables.scss';

.title {
    font-family: $didot;
    font-size: 30px;
    color: $gris-texto;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: -10px;
    background-color: $blanco;
}

.video-container {
    margin: 15px;
}
