/* Color */
$blanco: #FFFFFF;
$negro: #1A1A1A;
$verde: #00A99D;
$gris: #E6E6E6;

.read-more-btn {
    border-radius: 0px;
    border: 0px;
    background-color: $verde;
    font-family: Brandon-Medium;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 12px;
}

.read-more-btn:hover {
    background-color: #00877A;
}

p {
    margin-top: 10px;
}
