<div class="main-container">
    <div class="row justify-content-center title-row">
		<div class="col col-11">
			<span class="title-first-part">Sumate a nuestro</span> <br>
			<span class="title-second-part">Próximo evento</span>
		</div>
    </div>
    
    <div class="row justify-content-center">
        <div [class.hide]="isXs" class="justify-content-center">
            <!-- 500 x 500 -->
            <div class="fb-page" data-href="https://www.facebook.com/LoQueNoSeToca/" data-tabs="events" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/LoQueNoSeToca/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LoQueNoSeToca/">Lo que no se toca</a></blockquote></div>
        </div>
        <div [class.hide]="!isXs" class="justify-content-center">
            <!-- 500 x 300 -->
            <div class="fb-page" data-href="https://www.facebook.com/LoQueNoSeToca/" data-tabs="events" data-width="300" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/LoQueNoSeToca/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LoQueNoSeToca/">Lo que no se toca</a></blockquote></div>
        </div>
    </div>
</div>