@import '../../../theme/variables.scss';

.desc-strip {
    background-color: $blanco;
    color: $gris-texto;
    padding: 40px;
    font-family: $brandon-regular;
}

.desc-title {
    font-family: $didot;
    font-size: 35px;
}

.desc-text {
    font-family: $brandon-regular;
    margin-top: -20px;
}

.separador {
    width: 100vw;
    border-top: solid 9px $violeta;
    border-bottom: solid 7px $verde;
    margin-bottom: 80px;
}