<slider>
	<ng-template ngFor let-pol [ngForOf]="listaLegis">
		<politic-card [proyecto]="proyecto" [politicx]="pol"></politic-card>
	</ng-template>
</slider>

<div class="button-container">
	<button type="button" class="btn btn-primary btn-aec full-list-button" [routerLink]="['/lista',proyecto.id]">Ver lista completa <i class="fas fa-arrow-right"></i></button>
</div>