@import '../../../../../theme/variables.scss';

.button-container {
    background-color: #fff;
    padding-bottom: 80px;
}

.full-list-button {
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}
