@import '../../../../theme/variables.scss';

.row {
    width: 100%;
    padding: 25px;
    padding-left: 45px;
    background-color: $verde;
    font-family: $didot;
    font-size: 37px;
    color: white;
}

.underline {
    text-decoration: underline $violeta;
    margin-left: 6px;
    font-size: 43px;
    font-weight: bold;
}