@import "../../../theme/variables";

.diputadx {
    flex: 0 0 auto;
    //margin-right: 3px;
    min-height: 20rem;
    width: 35vw;
    padding: 1%;
}

@media (min-width: 576px) {
  .diputadx {
    width: 20vw;
  }
}

@media (min-width: 768px) {
  .diputadx {
    width: 20vw;
  }
}

@media (min-width: 1200px) {
  .diputadx {
    width: 15vw;
  }
}

.card-img-top {
    object-fit: cover;
    border-radius: 0px;
}

.card-img-top.enContra {
  border-bottom: $enContra 10px solid;
}

.card-img-top.sinDefinir {
  border-bottom: $sinDefinir 10px solid;
}

.card-img-top.aFavor {
  border-bottom: $aFavor 10px solid;
}

.card-img-top.seAbstiene {
  border-bottom: $seAbstiene 10px solid;
}

.dip-body {
  white-space: nowrap;
  color: $blanco;
  font-size: 17px;
  overflow:hidden !important;
  //text-overflow: ellipsis;
  padding: 10px;
}

.dip-nombre {
  font-family: $brandon-black;
}

.dip-bloque {
  font-family: $brandon-regular;
  position: relative;
  top: -5px;
}

.fbpost {
  font-size: 80%;
  font-family: $brandon-regular;
}

.dip-buttons {
  margin-top: -6%;
}

.dip-btn {
  border-radius: 0px !important;
  background-color: black;
  color: $blanco !important;
  border: 0px;
  font-family: $brandon-black;
  padding: 0px;
  width: 100%;
  margin: 2px;
  @media (max-width: 767.98px) {
    margin: 3px;
    padding: 4px;
  }
}


.llamar-btn {
  width: 100%;
  font-size: 3vw;
  border-radius: 0px !important;
  background-color: black;
  color: $blanco !important;
  border: 0px;
  font-family: $brandon-black;
  margin: 5px;
  @media (max-width: 767.98px) {
    font-size: 7vw;
  }
  // @media screen and (orientation:landscape) and (min-width: 600px) {
  //   display: none;
  // }
}

.llamar-texto {
  display: none;
  @media screen and (orientation:landscape) and (min-width: 600px) {
    display: inherit;
  }
}

.dip-btn:hover {
  background-color: #333333;
}

.modal-content {
  border: 0px;
  border-radius: 0px;
  background-color: $gris;
  font-family: $brandon-bold;
  font-size: 30px;
  text-align: center;
  line-height: 32px;
  .llamar-texto {
    font-size: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

.nro-interno {
  font-size: 45px;
  color: $verde;
  font-size: 40px;
  line-height: 40px;
}

.modal-header,
.modal-footer {
  border: 0px;
  border-radius: 0px;
}
