/* Colors */
$blanco: #FFFFFF;
$negro: #1A1A1A;
$verde: #00A99D;
$gris: #E6E6E6;

.propuestas-card {
    border: 5px solid #fff;
    border-radius: 0px;
    padding: 0px;
    background-color: transparent;
    margin: 10px;
}

.propuestas-play-icon:hover {
    opacity: 1;
    width: 25.5%;
}

.propuestas-card-body {
    background-color: #FFFFFF;
}

.propuestas-title {
    font-size: 31px;
    font-family: Brandon-Black;
    color: $verde;
}

.propuestas-description {
    font-size: 21px;
    font-family: GFSDidot;
    color: #000;
    line-height: 20px;
}
