<app-horizontal-scroller 
    [bgColor]="'#E6E6E6'"
    [titleFirstPart]="'Conocé a fondo'"
    [titleSecondPart]="'las propuestas'"
    [descriptionText]="['Activa el Congreso apoya y difunde el proyecto de Interrupción Voluntaria del Embarazo. El mismo fue elaborado por la Campaña por el Aborto Legal, Seguro y Gratuito']">

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/images/panuelo.jpg" alt="Pañuelo de la Campaña por el Aborto Legal, Seguro y Gratuito">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        Proyecto de Ley
                    </a>
                    <div class="propuestas-description">
                        Proyecto elaborado por la Campaña por el Aborto Legal, Seguro y Gratuito.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center propuestas-row">
        <div class="col col-12">
            <div class="card propuestas-card" style="width: 350px;">
                <img class="card-img-top propuestas-img" src="../../assets/propuestas-img/propuesta1.png" alt="Card image cap">
                <div class="card-body propuestas-card-body">
                    <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                        PROPUESTA 1
                    </a>
                    <div class="propuestas-description">
                        Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed Lorem ipsum dolor sit amet, consec
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</app-horizontal-scroller>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Video 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PbgKEjNBHqM" allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Proyecto de Ley de Interrupción Voluntaria del Embarazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="row justify-content-center">
                    <div class="col col-10">
                        <img style="width: 100%" src="http://www.colombianosune.com/sites/default/files/propuestasgrande.jpg">
                    </div>
                </div> -->
                        
<p>El 6 de marzo de 2018 se presentó (por séptima vez consecutiva) en la Cámara de Diputados de la Nación el Proyecto de Ley de Interrupción Voluntaria del Embarazo (IVE) redactado por la Campaña Nacional por el Derecho al Aborto Legal, Seguro y Gratuito.</p>
<p>Su Nº de expediente es el: <a href="http://www.hcdn.gob.ar/proyectos/textoCompleto.jsp?exp=0569-D-2018&tipo=LEY" target="_blank" >0569-D-2018</a>.</p>

<p><strong>PROYECTO DE LEY DE INTERRUPCIÓN VOLUNTARIA DEL EMBARAZO</strong></p>

<p><strong>Artículo 1°</strong>: Principios generales. El Estado garantiza el derecho a la procreación consciente y responsable, reconoce el valor social de la maternidad, tutela la vida humana y promueve el ejercicio pleno de los derechos sexuales y reproductivos de toda la población. La interrupción voluntaria del embarazo (IVE), que se regula en la presente ley, no constituye un instrumento de control de los nacimientos.</p>

<p><strong>Artículo 2º</strong>: Derecho a la IVE. En ejercicio del derecho humano a la salud, toda mujer tiene derecho a decidir de manera voluntaria la interrupción de su embarazo durante las primeras 14 (catorce) semanas del proceso gestacional.</p>

<p><strong>Artículo 3º</strong>: Causales. Sin perjuicio de lo dispuesto en el Artículo 2º, y más allá del plazo establecido, toda mujer tiene derecho a interrumpir su embarazo en los siguientes casos:</p>
<p>1. Si el embarazo fuera producto de una violación;</p>
<p>2. Para salvar la vida de la mujer;</p>
<p>3. Para preservar la salud física, psíquica o social de la mujer;</p>
<p>4. En caso de malformación fetal severa.</p>

<p><strong>Artículo 4º</strong>: Requisitos. Dentro del plazo establecido en el Artículo 2º de la presente ley, la mujer deberá acudir a consulta médica en los servicios del sistema de salud, a efectos de poner en conocimiento del médico las circunstancias derivadas de las condiciones en que ha sobrevivido la concepción, que a su criterio le impiden continuar con el embarazo en curso.</p>

<p><strong>Artículo 5º</strong>: Equipo interdisciplinario. El médico dispondrá, para el mismo día, la consulta con un equipo interdisciplinario que estará integrado al menos por 3 (tres) profesionales, de los cuales al menos 2 (dos) deberán ser mujeres. Asimismo, deberá estar conformado por un/a médico/a ginecólogo/a, otro/a deberá tener especialización en el área de la salud mental y el/la restante en el área social.
El equipo interdisciplinario, actuando en conjunto, deberá informar a la mujer las disposiciones establecidas en la presente ley y las características de la interrupción del embarazo. Asimismo, informará sobre las alternativas al aborto incluyendo los programas disponibles de apoyo social y económico, así como respecto a la posibilidad de dar su hijo en adopción.
El equipo interdisciplinario deberá constituirse en un ámbito de apoyo psicológico y social a la mujer para garantizar que disponga de la información para la toma de una decisión consciente y responsable.</p>

<p><strong>Artículo 6°</strong>: Deberes de los profesionales. Los profesionales que conforman el equipo interdisciplinario mencionado en el artículo precedente deberán:</p>
<p>a. Orientar y asesorar a la mujer acerca de los medios adecuados para prevenir embarazos futuros y sobre la manera de acceder a éstos, así como a los programas de planificación familiar existentes.</p>
<p>b. Dentro del marco de su competencia, garantizar que el proceso de decisión de la mujer permanezca exento de presiones de terceros, sea para continuar o interrumpir el embarazo.</p>
<p>c. Abstenerse de asumir la función de denegar o autorizar la interrupción.</p>
<p>d. En caso de llevarse a cabo el procedimiento de IVE, una vez dada el alta, brindar acompañamiento psicológico o social, información sobre su fertilidad futura, su estado de salud u otras intervenciones mediante entrevistas de seguimiento.</p>
<p>e. Cumplir con el Protocolo para la Atención Integral de las Personas con Derecho a la Interrupción Legal del Embarazo del Ministerio de Salud de la Nación, o el que en el futuro lo reemplace.</p>

<p><strong>Artículo 7º</strong>: Período de reflexión. A partir de la reunión con el equipo interdisciplinario, la mujer dispondrá de un período de reflexión mínimo de un (1) día, transcurrido el cual, si la mujer ratificara su voluntad de interrumpir el embarazo ante el médico ginecólogo tratante, se coordinará de inmediato el procedimiento que, en atención a la evidencia científica disponible, se oriente a la disminución de riesgos y daños.</p>

<p><strong>Artículo 8°</strong>: Consentimiento informado por escrito. La ratificación de la solicitante será expresada por consentimiento informado de la mujer expresado por escrito.</p>
<p>Toda mujer tiene derecho a acceder a la realización de la práctica de la interrupción voluntaria del embarazo en los servicios del sistema de salud, en un plazo máximo de 6 (seis) días desde su consentimiento informado por escrito y en las condiciones que determina la presente ley, la Ley Nº 26.529 y concordantes.</p>

<p><strong>Artículo 9°</strong>: Servicios de salud. El sector público de salud, las obras sociales enmarcadas en las Leyes 23.660 y 23.661, las entidades de medicina prepaga y todos aquellos agentes que brinden servicios médico-asistenciales, independientemente de la figura jurídica que posean, incorporarán como prestaciones médicas básicas obligatorias a brindar a sus afiliadas o beneficiarias, la cobertura integral de la interrupción legal del embarazo prevista en los Artículos 1º y 3º, en todas las formas que la Organización Mundial de la Salud (OMS) recomienda.</p>

<p><strong>Artículo 10°</strong>: Establecimientos médico-asistenciales. En todos los casos, las autoridades de cada establecimiento médico-asistencial deberán garantizar la realización de la interrupción del embarazo en los términos establecidos en la presente ley y con los alcances del Artículo 40º de la Ley 17.132 y del Artículo 21º de la Ley 26.529 y concordantes.</p>

<p><strong>Artículo 11°</strong>: Deberes de los establecimientos médico-asistenciales. Los establecimientos médico-asistenciales deberán:</p>
<p>a. Promover la información permanente del equipo profesional interdisciplinario especializado en salud sexual y reproductiva para dar contención y apoyo a la decisión de la mujer respecto a la IVE.</p>
<p>b. Garantizar la confidencialidad de la identidad de la mujer y de todo lo manifestado en las consultas previstas, así como de todos los datos anotados en su historia clínica.</p>
<p>c. Garantizar la participación de todos los profesionales que estén dispuestos a integrar los equipos interdisciplinarios, sin discriminación de ninguna naturaleza.</p>
<p>d. Cumplir con el Protocolo para la Atención Integral de las Personas con Derecho a la Interrupción Legal del Embarazo del Ministerio de Salud de la Nación, o el que en el futuro lo reemplace.</p>

<p><strong>Artículo 12°</strong>: No judicialización. Las prácticas profesionales establecidas en la presente ley se efectivizarán sin ninguna autorización judicial previa.</p>

<p><strong>Artículo 13°</strong>: Consentimiento de las adolescentes. Conforme a lo establecido en el Artículo 26º del Código Civil y Comercial de la Nación, la persona mayor de 16 (dieciséis) años tiene plena capacidad para ejercer los derechos que otorga la presente ley; si la interrupción voluntaria del embarazo debe practicarse a una persona adolescente, entre los 13 (trece) y los 16 (dieciséis) años de edad, se presume que cuenta con aptitud y madurez suficiente para decidir la práctica y prestar el debido consentimiento.</p>
<p>Si la interrupción voluntaria del embarazo debe practicarse en una persona menor de 13 (trece) años de edad, se requerirá su consentimiento con la asistencia de al menos uno de sus progenitores o representante legal. En ausencia o falta de ellos, se requerirá la asistencia de las personas indicadas en el Artículo 4º del decreto reglamentario del Programa Nacional de Salud Sexual y Reproductiva, el Artículo 7º del Decreto 415/2006 reglamentario de la Ley 26.061 y el Artículo 59º del Código Civil y Comercial de la Nación.</p>
<p>En todos los supuestos contemplados en los artículos que anteceden serán de aplicación la Convención de los Derechos del Niño, la Ley 26.061 y los artículos pertinentes del Código Civil y Comercial de la Nación, en especial en lo que hace a su interés superior y el derecho a ser oído.</p>

<p><strong>Artículo 14°</strong>: Consentimiento de las personas con capacidad restringida y de las personas declaradas incapaces. Si se tratare de una persona con capacidad restringida y la restricción no tuviere relación con el ejercicio de los derechos que otorga, la presente ley podrá prestar su consentimiento informado requiriendo si lo deseare la asistencia del sistema de apoyos previsto en el Artículo 32º Código Civil y Comercial de la Nación.</p>
<p>Si se tratare de una persona declarada incapaz judicialmente deberá prestar su consentimiento con la asistencia de su representante legal o a falta o ausencia de este, la de un/a allegado/a en los términos Artículo 59º Código Civil y Comercial de la Nación.</p>

<p><strong>Artículo 15°</strong>: Quedan incluidos en los derechos y beneficios comprendidos en la presente ley, las personas con capacidad de gestar conforme la Ley 26.743.</p>

<p><strong>Artículo 16°</strong>: Se modifica el Artículo 85 del Código Penal de la Nación Argentina, que quedará redactado de la siguiente manera:
“Artículo 85.- El que causare un aborto obrando sin consentimiento de la mujer o de su representante legal será reprimido con reclusión o prisión de tres a diez años. Esta pena podrá elevarse hasta quince años si el hecho fuere seguido de la muerte de la mujer.”</p>

<p><strong>Artículo 17°</strong>: Derógase los Arts. 86 y 88 del Código Penal de la Nación.</p>

<p><strong>Artículo 18°</strong>: De forma.</p>




<p><strong>FUNDAMENTOS DEL PROYECTO DE LEY</strong></p>

<p>
            Esta iniciativa está inspirada en los principios que, ya en 1974, exhortaba en su discurso Simone Veil, ministra de Salud francesa, promotora y pionera de la legalización del aborto, quien impulsó la “Loi Veil”- cuya defensa ante una Asamblea Nacional casi exclusivamente masculina se ha convertido en una de las imágenes icónicas de la lucha feminista-, con el fin de “poner fin a una situación de desorden y de injusticia y aportar una solución mesurada y humana a uno de los problemas más difíciles de nuestro tiempo”. Simone Veil afirmaba lo que aún hoy nuestra sociedad está vivenciando “Llegamos a un punto en que los poderes públicos ya no pueden eludir sus responsabilidades. Todo lo demuestra: los estudios y trabajos llevados a cabo desde hace muchos años, […]  la experiencia de otros países. Y la mayor parte de ustedes sabe que no se pueden impedir los abortos clandestinos y que tampoco se puede aplicar la ley penal a todas las mujeres que cabría imponer su rigor. ¿Por qué entonces no seguir cerrando los ojos? Porque la situación actual es mala. Incluso diría que es deplorable y dramática”. En tal sentido, los principios condensados en este discurso se reflejan en nuestra sociedad actual: no se puede seguir cerrando los ojos ante el flagelo de aquellas mujeres que mueren a causa de abortos clandestinos, es hora de actuar.
</p>
            
            <p>
                Esta propuesta ha sido elaborada a partir de la legislación comparada y las experiencias de diversos países que hoy cumplen con las recomendaciones de la Organización Mundial de la Salud (OMS). Asimismo, busca responder a la demanda social de muchas organizaciones de la sociedad civil y grupos de personas que participan de la campaña nacional por el derecho al aborto legal, seguro y gratuito, identificados bajo el lema “educación sexual para decidir, anticonceptivos para no abortar, aborto legal para no morir”. 
</p>
            
            <p>
            El presente proyecto de ley tiene el objeto de legalizar el aborto con la finalidad de que las mujeres que decidan interrumpir un embarazo tengan atención segura y gratuita en los hospitales públicos y obras sociales de todo el país, respetando el protocolo para la atención integral de las personas con derecho la interrupción legal del embarazo del Ministerio de Salud de la Nación.
</p>
            
            <p>
                Siguiendo las Leyes 26.529 y 25.673, el derecho a la salud y los derechos sexuales y reproductivos deben ser reconocidos como derechos básicos de todas las personas. Es de vital relevancia promover en todo el país el derecho que deben tener las mujeres, niñas, adolescentes y toda persona con capacidad de llevar adelante una gestación de acceder a la interrupción voluntaria legal del embarazo cuando éste se encuadre en las causales previstas en esta iniciativa, a saber: si el embarazo fuera producto de una violación, para salvar la vida de la mujer, para preservar la salud física, psíquica o social de la mujer, en caso de malformación fetal severa.
</p>
            
            <p>
            Según la OMS, “la salud es un estado de perfecto (completo) bienestar físico, mental y social, y no sólo la ausencia de enfermedad”. 
</p>
            
            <p>
                La IVE debe ser brindada bajo los mismos parámetros que otros componentes del servicio de salud, es decir, respetando los estándares de calidad, accesibilidad, confidencialidad, competencia técnica, rango de opciones disponibles e información científica actualizada, así como respeto de las recomendaciones de la Organización Mundial de la Salud.
</p>
            
            <p>
                Las complicaciones vinculadas con el aborto son la primera causa de muerte materna, vulnerando los derechos fundamentales de acceso a la salud, a una vida sana y plena y el derecho al ejercicio de la autonomía y autodeterminación sobre el propio cuerpo, la sexualidad y la reproducción.
</p>
            
            <p>
            Con la legislación vigente, la interrupción del embarazo en Argentina es posible en algunos pocos casos, definidos por el Artículo 86 del Código Penal de la Nación Argentina como “no punibles”. Se despenaliza de manera expresa el aborto “cuando se trata de un caso de embarazo producto de una violación o de un atentado al pudor de una mujer demente o idiota, o cuando corre peligro la vida y la salud de la mujer”. En su fallo “F., A. L. s/medida autosatisfactiva”, de marzo de 2012, la Corte Suprema de Justicia de la Nación, en su carácter de último intérprete de todo el sistema normativo del país, estableció́ que quien se encuentre en las condiciones descriptas en el Artículo 86 inciso 2 del Código Penal “[...] no puede ni debe ser obligada a solicitar una autorización judicial para interrumpir su embarazo, toda vez que la ley no lo manda, como tampoco puede ni debe ser privada del derecho que le asiste a la interrupción del mismo ya que ello, lejos de estar prohibido, está permitido y no resulta punible” (CSJN, 2012: considerando 21).
</p>
            
            <p>
            Se considera que, en Argentina, se realizan aproximadamente entre 370 y 522 mil interrupciones de embarazos por año. Estas cifras son estimativas ya que, por tratarse de una práctica clandestina, no se dispone de datos precisos. La única información disponible al respecto es el número de hospitalizaciones producidas en los establecimientos públicos por complicaciones relacionadas con abortos. No obstante, este dato no discrimina entre abortos espontáneos y provocados, por lo que refleja sólo una fracción de los que ocurren anualmente.
</p>
            
            <p>
            La penalización del aborto que rige hoy en nuestro país, lejos de disminuir la incidencia de la práctica, impide el acceso a procedimientos seguros, con lo cual se generan riesgos para la vida y la salud de las mujeres. En Argentina existe el potencial necesario para disminuir de manera significativa la tasa de mortalidad materna. El Estado debe dar respuesta a esta problemática que no debe continuar en la clandestinidad, considerando su relevancia socio-sanitaria.
</p>
            
            <p>
            Haciendo hincapié en los principios rectores que surgen de la normativa internacional de derechos humanos con rango constitucional para nuestro país (Artículo 75º, inciso 22), de la propia Constitución y la legislación argentina- como la Ley de Derechos del Paciente 26.529, el Régimen Legal del Ejercicio de la Medicina 17.132 y la Ley de Protección Integral a las Mujeres 26.485-, la realización de la IVE debe guiarse fundamentalmente por los principios de autonomía, accesibilidad, no judicialización, confidencialidad, privacidad, celeridad, rapidez y transparencia activa.
</p>
            
            <p>
            Basado en la experiencia uruguaya, se propone como requisito, que la mujer acuda a una consulta médica. El médico dispondrá para el mismo día, la consulta con un equipo interdisciplinario, conformado por un/a médico/a ginecólogo/a, otro/a con una especialización en salud mental y el/la restante en el área social. Siguiendo la experiencia israelí, de estos tres profesionales, dos, al menos, deben ser mujeres. A partir con la reunión con el equipo interdisciplinario, la mujer dispondrá de un período de reflexión de un día, transcurrido el cual, si la mujer ratificara su voluntad de interrumpir el embarazo, se coordinará de inmediato el procedimiento que, en atención a la evidencia científica disponible, se oriente a la disminución de riesgos y daños.
</p>
            
            <p>
            Cabe destacar que el proceso de atención a una persona no culmina con el procedimiento de IVE; en muchos casos, puede requerir acompañamiento psicológico o social, información sobre su fertilidad futura, su estado de salud u otras intervenciones. Las entrevistas de seguimiento son una oportunidad para que el equipo de salud aborde estas cuestiones y/o realice las derivaciones pertinentes.
</p>
            
            <p>
            El proceso de atención a una persona no culmina con el procedimiento de IVE; en muchos casos puede requerir acompañamiento psicológico o social, información sobre su fertilidad futura, su estado de salud u otras intervenciones. Las entrevistas de seguimiento son una oportunidad para que el equipo de salud aborde estas cuestiones y/o realice las derivaciones pertinentes.
</p>
            
            <p>
            El Comité de Expertos de la Convención sobre la Eliminación de todas las Formas de Discriminación contra la Mujer- CEDAW- revisó la situación de la Argentina en noviembre de 2016 y emitió un informe exhaustivo sobre todos los aspectos de los derechos de las mujeres, con comentarios y recomendaciones para todo el país. En cuanto a salud, el informe reitera la recomendación anterior sobre disminuir la mortalidad materna garantizando el acceso a servicios de salud apropiados, la atención de emergencia obstétrica y otros factores que impactan en la misma. También recomienda que se implemente en todo el país la interrupción legal del embarazo, en base al Protocolo aprobado por el Ministerio de Salud de la Nación en cumplimiento con el Fallo de la CSJN de 2012 y exhorta a que se garantice el acceso al aborto legal y seguro a las mujeres en casos de violación o riesgo para la salud o la vida, así como la atención post aborto. Por último, exhorta a acelerar la adopción de una ley para ampliar la interrupción del embarazo no sólo en casos de violación o riesgo para la salud o la vida.
</p>
            
            <p>
            Por medio de la Ley 23.179, la Argentina aprobó en 1985 la CEDAW, así como también en 1994 otorgó jerarquía constitucional a esta Convención,  junto con otros Tratados Internacionales de Derechos Humanos. Asimismo, nuestro país busca alcanzar los estándares recomendados por los organismos internacionales en diversas materias de protección de derechos humanos, sin embargo, la legislación vigente acerca de la interrupción legal del embarazo no coincide con las recomendaciones de los organismos expertos en salud, que exhortan, principalmente, a ampliar las causales. Es menester adaptar las leyes a la realidad actual.
</p>
            
            <p>
            En cuanto a la legislación comparada, más del 60% de la población del mundo vive en Estados en los que el aborto inducido está permitido. Cabe destacar algunos de los países miembros de diversos organismos internacionales- así como de foros internacionales tales como OCDE y G20-, en los que el aborto está permitido para salvar la vida de la mujer, para preservar la salud física, psíquica o social de la mujer, en caso de malformación fetal severa, cuando el embarazo fuera producto de una violación- tal como propone el presente proyecto- son: Alemania, Australia, Austria, Bélgica, Bulgaria, Canadá, China, Corea del Sur, Croacia, Dinamarca, Eslovenia, Estados Unidos, Estonia, Finlandia, Francia, Grecia, Hungría, India, Italia, Islandia, Letonia, Lituania, Luxemburgo, Noruega, Países Bajos, República Checa, Rumania, Rusia, Sudáfrica, Suecia, Turquía, entre otros. Incluso, algunos de estos países también ofrecen la posibilidad de IVE disponible bajo petición.
</p>
            
            <p>
            Luego, con parámetros menos tolerantes, siguen aquellos países en los que el aborto está permitido explícitamente para salvar la vida de la mujer, para preservar su salud física y mental, cuando el embarazo fuera producto de violación, en caso de malformación fetal severa. Algunos de ellos son Chipre, España, Israel, Nueva Zelanda, Polonia y Portugal. 
</p>
            
            <p>
            La legislación argentina ni siquiera se encuentra enmarcada en la descripción anterior ya que el Código Penal de la Nación, cuando refiere a la salud de la mujer, no diferencia entre salud física o salud mental, ya que expresa: “si se ha hecho con el fin de evitar un peligro para la vida o la salud de la madre […] si el embarazo proviene de una violación o de un atentado al pudor cometido sobre una mujer idiota o demente”. Por lo tanto, existe una controversia en la interpretación, más allá de que la definición de salud según la OMS, incluye a la salud mental, tal como se mencionó anteriormente. Por otra parte, la denominación “mujer idiota o demente” data de 1921, entrando en vigor al año siguiente, tampoco está adaptada al Código Civil y Comercial de la Nación actualizado, que utiliza los conceptos de persona con capacidad restringida y con incapacidad, en su Artículo 32°. 
</p>
            
            <p>
            Por los motivos expuestos, solicito a mis pares acompañen el presente proyecto de ley.
</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>