<div class="pol-card">
    <div class="card-image-container">
        <img [src]="imgUrl" class="card-img-top" alt="...">
    </div>
    <div class="card-body {{posicion}}">
        <span class="title">{{politicx.nombre}} {{politicx.apellido}}</span>
        <span class="subtitle">{{politicx.bloque}}</span>

        <button *ngIf="politicx.twitter" type="button" class="contact-button" (click)="openTwWindow()">
            <i class="fab fa-twitter" ></i>  Twittear
        </button>
        <button *ngIf="politicx.facebook" type="button" class="contact-button" (click)="generateRandomMesssage()" data-toggle="modal" data-target="#facebookModal">
            <i class="fab fa-facebook-f"></i>  Facebook
        </button>
        <button type="button" class="contact-button" data-toggle="modal" (click)="generateRandomMesssage()" data-target="#callModal">
            <i class="fas fa-phone"></i>  Llamar
        </button>
    </div>
</div>

<!-- Modal Facebook -->
<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="Escribir por Facebook" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                Te dejamos una sugerencia de texto para escribirle. Podés escribirle un mensaje privado o escribirle en el muro (lo que prefieras): <br>
                <div class="example-message">{{randomFbMessage}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="openFbWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-facebook-f"></i> Ir a su Facbeook</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal LLamada -->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="Llamar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Cuando te atienda el conmutador, tenés que marcar alguno de los siguientes internos: <br>
                <div class="example-message">{{politicx.interno}}</div> <br>
                Te dejamos una idea para que te inspires: <br>
                <div class="example-message">{{randomFbMessage}}</div>
            </div>
            <div class="modal-footer">
                <a (click)="aumentarContador()" href="tel:{{politicx.numeroCompleto}}" class="btn btn-primary btn-aec btn-center">Llamar</a>
            </div>
        </div>
    </div>
</div>
      