@import '../../../../theme/variables.scss';

.pol-card {
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    margin: 8px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-image-container {
    min-width: 250px;
    min-height: 250px;
    background-color: #cdcdcd;
}

.img-card-top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.AFavor {
    border-top: 6px solid $aFavor;
}

.EnContra {
    border-top: 6px solid $enContra;
}

.NoConfirmado {
    border-top: 6px solid $noConfirmado;
}

.SeAbstiene {
    border-top: 6px solid $seAbstiene;
}

.title {
    display: block;
    text-align: center;
    font-family: $brandon-medium;
    font-size: 25px;
    color: #474747;
}

.subtitle {
    display: block;
    text-align: center;
    font-family: $brandon-regular;
    font-size: 18px;
    color: #666666;
}

.contact-button {
    width: 100%;
    background: transparent;
    border: 2px solid $verde;
    font-family: $brandon-regular;
    color: $verde;
    margin-top: 5px;
}

.contact-button:hover {
    background-color: $verde;
    color: $blanco;
    cursor: pointer;
}

.close {
    margin-top: -20px;
    margin-right: -15px;
}

.modal-content {
    border-radius: 0px;
    padding: 15px;
    color: $gris-texto;
}

.example-message {
    border: 1px solid #666666;
    padding: 9px;
    background: #f3f3f3;
    font-size: 20px;
    font-family: $brandon-bold;
}

.modal-footer {
    padding-bottom: 0px !important;
}

.btn-center {
    margin: auto;
}