<div class="container">
    <br>

    <button class="btn btn-primary btn-aec" type="button" [routerLink]="['/proyecto',proyecto.id]"><i class="fas fa-arrow-left"></i> Volver</button>
    <br>
    <br>
    <conteo [proyecto]="proyecto"></conteo>

    <div class="row">

        <div class="col col-12">
            <span class="message">Hablá con lxs politicxs para influir en su voto. Conocé sus posturas:</span>
            <div class="pos aFavor">A FAVOR</div>
            <div class="pos enContra">EN CONTRA</div>
            <div class="pos noConfirmado">NO CONFIRMADO</div>
            <div class="pos seAbstiene">SE ABSTIENE</div>
        </div>

        <br>
        <br>
        <br>

        <div class="col col-12 row">
            <div class="col col-12 col-md-4">
                <label class="filter-label">Posicion</label>
                <select name="filPos" [(ngModel)]="filPos" class="form-control" (change)="onFilterChange('posicion', $event.target.value)">
                    <option>Todas</option>
                    <option value="AFavor">A favor</option>
                    <option value="EnContra">En contra</option>
                    <option value="NoConfirmado">No confirmado</option>
                    <option value="SeAbstiene">Se abstiene</option>
                </select>
            </div>
            <div class="col col-12 col-md-4">
                <label class="filter-label">Bloque</label>
                <select name="filBloq" [(ngModel)]="filBloq" class="form-control" (change)="onFilterChange('bloque', $event.target.value)">
                    <option>Todos</option>
                    <option *ngFor="let op of bloquesOptions">{{op}}</option>
                </select>
            </div>
            <div class="col col-12 col-md-4">
                <label class="filter-label">Distrito</label>
                <select name="filDis" [(ngModel)]="filDis" class="form-control" (change)="onFilterChange('distrito', $event.target.value)">
                    <option>Todos</option>
                    <option *ngFor="let op of distritoOptions">{{op}}</option>
                </select>
            </div>
            <div class="col col-12">
                <button (click)="resetFilter()" class="btn-aec btn-filter">Borrar filtros</button>
            </div>
        </div>
        

        <br>
        <br>
        <br>

        <div class="col col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let pol of showingPolitics">
            <politic-card [proyecto]="proyecto" [politicx]="pol"></politic-card>
        </div>
    </div>

</div>