<div class="main-container">

    <div class="row justify-content-center">
        <!-- <div class="col col-12 col-md-10 title">
            ¡FALTAN POCOS VOTOS PARA QUE SE APRUEBE EN DIPUTADXS! ¡SUMÁ TAMBIÉN TU VOZ!
        </div> -->
	<!--
        <div class="col col-12 col-md-10 title">
          FALTAN
          <countdown (reached)="callback($event)" [text]="text" units="Days | Hours | Minutes | Seconds"  end="June 13, 2018 11:00:00"></countdown>
          PARA LA SESIÓN
	</div> -->
       
        <div class="col col-12 col-md-10 title">
		   <div *ngIf="showVideo" class="embed-responsive embed-responsive-16by9">
		      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/91XPH_6pL_0" allowfullscreen></iframe>
            </div>
            <div *ngIf="resultadoFinal">
                RESULTADO FINAL:
            </div>
	   </div>

    </div>

    <div *ngIf="_items">
        <div class="row justify-content-center second-row parciales">
            <div class="col col-6 favor">
                <div class="card contactos-card">
                    <div class="card-header texto-explicativo">
                        <span *ngIf="!isXs">SENADORXS</span> A FAVOR 
                        <span class="aclaracion">(CON O SIN MODIF.)</span>
                    </div>
                    <div class="card-body">
                        {{posiciones["A Favor"]}}
                    </div>
                </div>
            </div>

            <div class="col col-6 contra">
                <div class="card contactos-card">
                    <div class="card-header texto-explicativo">
                        <span *ngIf="!isXs">SENADORXS</span> EN CONTRA
                    </div>
                    <div class="card-body">
                        {{posiciones["En Contra"]}}
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col col-6 sinDefinir">
                <div class="card contactos-card">
                    <div class="card-header texto-explicativo">
                        <span *ngIf="!isXs">SENADORXS</span> EN DUDA
                    </div>
                    <div class="card-body">
                        {{posiciones["No confirmado"] ? posiciones["No confirmado"] : 0}}
                    </div>
                </div>
            </div>

            <div class="col col-6 seAbstiene">
                <div class="card contactos-card">
                    <div class="card-header texto-explicativo">
                        <span *ngIf="!isXs">SENADORXS QUE</span> SE ABSTIENEN O AUSENTAN
                    </div>
                    <div class="card-body">
                        {{posiciones["Se Abstiene"] ? posiciones["Se Abstiene"] : 0}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
