@import "../../../theme/variables";

.main-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    background-color: $gris;
    padding-top: 30px;
    padding-bottom: 30px;
}

.row {
    padding: 0px 8px 0px 8px;
}

.title {
    text-align: center;
    background-color: $verde;
    font-family: $brandon-black;
    font-size: 32px;
    color: $blanco;
}

.votos-faltantes {
    font-family: $didot;
}

.oradores {
    color: $blanco;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .row {
        padding: 0px 60px 0px 60px;
    }
}

.second-row {
    margin-top: 25px;
}

.card {
    text-align: center;
    border: solid 2px $blanco;
    border-radius: 0px;
    background-color: transparent;
}

.disclaimer {
    font-family: $brandon-bold;
}

.card-header {
    color: $blanco;
    font-family: $brandon-bold;
    background-color: $blanco;
    font-size: 21px;
    line-height: 20px;
    padding: 0px;
    border-radius: 0px;
}

.favor {
    .card {
        border-color: $aFavor;
    }
    .card-header {
        background-color: $aFavor;
        //font-size: 15px;
        //line-height: 15px;
    }
    .aclaracion {
        font-size: 5px;
        line-height: 5px;
    }
}

.contra {
    .card {
        border-color: $enContra;
    }
    .card-header {
        background-color: $enContra;
    }
}

.sinDefinir {
    .card {
        border-color: $sinDefinir;
        margin-top: 20px;
    }
    .card-header {
        background-color: $sinDefinir;
    }
}

.seAbstiene {
    .card {
        border-color: $seAbstiene;
        margin-top: 20px;
    }
    .card-header {
        background-color: $seAbstiene;
        font-size: 13px;
        
    }
}


.card-body {
    font-family: $didot;
    padding: 0px;
    color: $negro;
    font-size: 65px;
    @media (min-width: 768px) {
        padding: 15px;
    }
}

/deep/ .countdown {
      font-family: $brandon-bold;
      //width: 100%;
      //height: 100px;

      .measurements {
        font-family: $brandon-bold;
        color: white;
        margin-right: 5px;
        padding: 5px;
     }

     .measurements-text {
       font-size: 14px;
     }

     .divider {
      font-size: 30px;
     }
}
