<div class="row main-row justify-content-center">

    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                CONTACTANOS
            </div>
            <div class="card-body contactos">
                <div class="row justify-content-center">
                    <div class="red col col-12 col-md-6 col-lg-3">
                        <a href="https://www.facebook.com/activaelcongreso" target="blank_">
                            
                                <img class="red-img" src="../../assets/social/facebook.svg">
                            
                            <div class="red-footer">
                                Facebook
                            </div>
                        </a>
                        <span class="red-url">
                            /activaelcongreso
                        </span>
                    </div>
                    <div class="red col col-12 col-md-6 col-lg-3">
                        <a href="https://www.twitter.com/activacongreso" target="blank_">
                            
                                <img class="red-img" src="../../assets/social/twitter.svg">
                            
                            <div class="red-footer">
                                Twitter
                            </div>
                        </a>
                        <span class="red-url">
                            /activacongreso
                        </span>
                    </div>
                    <div class="red col col-12 col-md-6 col-lg-3">
                        <a href="https://www.instagram.com/activacongreso" target="blank_">
                            
                                <img class="red-img" src="../../assets/social/instagram.svg">
                            
                            <div class="red-footer">
                                Instagram
                            </div>
                        </a>
                        <span class="red-url">
                            /activacongreso
                        </span>
                    </div>
                    <div class="red col col-12 col-md-6 col-lg-3">
                        <a href="mailto:activaelcongreso@gmail.com">
                            
                                <img class="red-img" src="../../assets/social/mail.svg">
                            
                            <div class="red-footer">
                                Mail
                            </div>
                        </a>
                        <span class="red-url">
                            /activacongreso
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
