<div class="row justify-content-center">

    <div class="col col-9 col-md-3 col-xl-3">
        <button class="btn btn-primary dip-btn btn-agradecimientos" data-toggle="modal" data-target="#modalAbout"> 
            Agradecimientos
        </button>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agradecimientos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>Activa el Congreso lo hacemos un grupo de personas que queremos sumar otra 
                    forma de participación a las ya existentes.</p>

                    <h3>Nuestro Equipo:</h3>
                    
                    <p>Idea y Producción general: Inti Bonomo y Mercedes D'Alessandro<br>
                    Coordinadora de Comunicación: Magdalena Chirom<br>
                    Desarrollo y Operaciones: Pablo Montepagano<br>
                    Redes Sociales: Paula Resnisky<br>
                    Diseño: Juan Pablo Cuciniello</p>
                    <p>Además queremos agradecer especialmente las colaboraciones a 
                    <a href="http://seamos.co/" target="_blank">SEAMOS</a>, 
                    al <a href="https://www.observatoriodegeneros.com/" target="_blank">Observatorio de Géneros y Políticas Públicas</a>, 
                    <a href="http://economiafeminita.com/" target="_blank">Economía Feminista</a> y 
                    Andres Snitcofsky.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary dip-btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
