@import "../../../theme/variables";

.row {
    padding: 20px;
    background-color: $verde;
}

.btn {
    border-radius: 0px !important;
    background-color: black;
    color: $blanco !important;
    border: 0px;
    font-family: $brandon-black;
    padding: 10px;
    font-size: 15px;
}

.btn-agradecimientos {
    width: 100%;
    font-size: 25px;
    font-family: $brandon-medium;
}

.modal-content {
    border: 0px;
    border-radius: 0px;
    background-color: $blanco;
    font-family: $brandon-bold;
}

.modal-header,
.modal-footer {
    border: 0px;
    border-radius: 0px;
}

.modal-btn {
    border-radius: 0px !important;
    background-color: black;
    border: 0px;
    font-family: $brandon-bold;
    margin: 5px;
}

.modal-btn:hover {
    background-color: #464646;
}
