<app-horizontal-scroller 
    [bgColor]="'#FFF'"
    [titleFirstPart]="'Materiales para fundamentar'"
    [titleSecondPart]="'la importancia de legalizar el Aborto'">

    <div *ngFor="let vid of videos" class="row justify-content-center about-reform-row">
        <div class="col col-12">
            <div class="card about-reform-card" style="width: 373px;">
                <iframe #ifr class="embed-responsive-item" style="width: 372px; height: 210px;" [src]="vid.videoSafeUrl" allowfullscreen></iframe>
                <div class="play" style="width: 372px; height: 210px;">
                    <img (click)="setCurrentIframeUrl(vid)" data-toggle="modal" data-target="#exampleModal" class="about-reform-play-icon" src="./assets/play-icon-01.png"/>
                </div>
                <span class="about-reform-title">{{vid.title}}</span>
                <span class="about-reform-description">{{vid.description}}</span>
            </div>
        </div>
    </div>
    
</app-horizontal-scroller>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{currentVideoTitle}}</h5>
            <button (click)="resetModalVariables()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div *ngIf="currentIframeUrl" class="embed-responsive embed-responsive-16by9">
                <iframe #ifr class="embed-responsive-item" [src]="currentIframeUrl" allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="resetModalVariables()" type="button" class="btn btn-lg btn-secondary modal-btn" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>

