<div [style.background]="bgColor" class="scroller-horizontal-container">
	<div *ngIf="titleFirstPart && titleSecondPart" class="row justify-content-center">
		<div class="col col-11 col-xs-9 col-lg-9">
			<span class="scroller-title-first-part">{{titleFirstPart}}</span> <br>
			<span class="scroller-title-second-part">{{titleSecondPart}}</span>
			<read-more *ngIf="descriptionText" [fullText]="descriptionText"></read-more>
		</div>
	</div>
	<div *ngIf="subtitle" class="subtitle-container">
			<span  class="scroller-subtitle">{{subtitle}}</span>
			Hablá con un/a senador/a para influir en su voto. Puede estar
			<span class="badge enContra">en contra</span>,
			<span class="badge aFavor">a favor</span>, o
			<span class="badge sinDefinir">sin una posición tomada</span>
			sobre proyecto de Interrupción Voluntaria del Embarazo. Podés ver <a routerLink="/contacta/aborto/senadorxs"> a todxs acá</a>.
	</div>
	<div class="slider">
		<div class="handle handlePrev noselect" (click)="scrollHorizontal('l')">
			<i #leftPaddleScroll [class.blackArrow]="isBlackArrow" class="material-icons indicator-icon left">keyboard_arrow_left</i>
		</div>
		<div #scrollableWrapper class="scrolling-wrapper-flexbox">
			<ng-content></ng-content>
		</div>
		<div class="handle handleNext noselect" (click)="scrollHorizontal('r')">
			<i #rightPaddleScroll [class.blackArrow]="isBlackArrow" class="material-icons indicator-icon right">keyboard_arrow_right</i>
		</div>
	</div>
</div>
