<span class="title">El conteo de votos {{getEnd()}}</span>

<div class="row conteo-body">
    <div class="bar-group col col-12 col-md-7 col-lg-5">
        <span class="bar-title"><span class="numero">{{aFavor}}</span> A FAVOR</span>
        <div class="bar-container">
            <div class="bar aFavor" [style.width]="getPorc(aFavor) + '%'"></div>
        </div>
    </div>
    <div class="bar-group col col-12 col-md-7 col-lg-5">
        <span class="bar-title"><span class="numero">{{enContra}}</span> EN CONTRA</span>
        <div class="bar-container">
            <div class="bar enContra" [style.width]="getPorc(enContra) + '%'"></div>
        </div>
    </div>
    <div class="bar-group col col-12 col-md-7 col-lg-5">
        <span class="bar-title"><span class="numero">{{noConfirmado}}</span> NO CONFIRMADOS</span>
        <div class="bar-container">
            <div class="bar noConfirmado" [style.width]="getPorc(noConfirmado) + '%'"></div>
        </div>
    </div>
    <div class="bar-group col col-12 col-md-7 col-lg-5">
        <span class="bar-title"><span class="numero">{{seAbstiene}}</span> SE ABSTIENE</span>
        <div class="bar-container">
            <div class="bar seAbstiene" [style.width]="getPorc(seAbstiene) + '%'"></div>
        </div>
    </div>
</div>