@import '../../../../theme/variables.scss';

.conteo-body {
    padding-bottom: 50px;
}

.title {
    font-size: 40px;
    font-family: $didot;
    color: $gris-texto;
    margin-left: 5%;
}

.bar-title {
    color: $gris-texto;
    font-family: $brandon-regular;
    font-size: 17px;
}

.numero {
    font-family: $didot;
    font-size: 25px;
}

.bar-group {
    margin: auto;
    margin-top: 20px;
}

.bar-container {
    width: 100%;
    background-color: #e0e0e0;
}
  
.bar {
    height: 10px;
    background-color: $verde;
}

.aFavor {
    background-color: $aFavor;
}

.enContra {
    background-color: $enContra;
}

.noConfirmado {
    background-color: $noConfirmado;
}

.seAbstiene {
    background-color: $seAbstiene;
}