@import '../../../../../theme/variables.scss';


.scroller-horizontal-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-top: 10px;
    @media (min-width: 768px) { 
        padding-right: 9%;
        padding-left: 9%;
    }
    background-color: #fff;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
    display: none;
    }
    z-index: 1;
}

.slider {
    position: relative;
    margin: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    width: 100%;

    .handle {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 20;
        width: 4%;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        background: transparent;

        @media (max-width: 767.98px){
            display: none;
            width: 0;
        }
    }

}


.indicator-icon {
    font-size: 7vw;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    cursor: pointer;
    background-color: $verde;
}

.indicator-icon.left {
    margin-left: -220%;
}

.indicator-icon.right {
    margin-left: 220%;
}

.slider .handle.handleNext {
    right: 0;
}

.slider .handle.handlePrev {
    left: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-container {
    background-color: #fff;
    padding-bottom: 80px;
}
