@import '../../../theme/variables.scss';

.title {
    color: $gris-texto;
    font-family: $brandon-bold;
    font-size: 35px;
    margin-top: 15px;
}

.subtitle {
    color: $gris-texto;
    font-family: $brandon-regular;
    font-size: 17px;
}

.info-strip {
    background-color: $blanco;
    color: $gris-texto;
    padding: 40px;
}

.info-title {
    font-family: $didot;
    font-size: 35px;
}

.info-text {
    font-family: $brandon-regular;
}

.follow-strip {
    background-color: $verde;
    color: $blanco;
    padding: 40px;
}

.follow-title {
    font-family: $brandon-regular;
    font-size: 20px;
    margin-bottom: 15px;
}

.follow-btn {
    border-radius: 0px;
    border: solid 2px $blanco;
    background-color:  $verde;
    font-size: 29px;
    padding: 7px 12px 7px 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.follow-btn:hover {
    background-color: $violeta;
}

.follow-btn:visited, a[href^="mailto"] {
    color: $blanco;
}

.f-btn {
    padding-left: 16px;
    padding-right: 16px;
}

.newsletter {
    border-left: solid 2px $blanco;
    padding-left: 10px;
}

@media (max-width: 992px) {
    .newsletter {
        margin-top: 20px;
    }
}

.news-input {
    background-color: $verde;
    border: solid 1px $blanco;
    color: $blanco !important;
    width: 65%;
}

.news-input::placeholder {
    color: $blanco;
}

.news-btn {
    background-color: $blanco;
    border: 0px;
    color: $verde;
}

.final-strip-img {
    margin: auto;
    width: 50px;
}