@import '../../../../../theme/variables.scss';

.row {
    margin-bottom: 20px;
    background-color: $blanco;
}

.art-container {
    margin: auto;
    background-color: $blanco;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.art-preview {
    height: 220px;
    display: block;
    overflow:hidden;
    color: $gris-texto;
}

.btn-aec {
    color: $blanco;
    font-family: $brandon-regular;
    font-size: 18px;
    margin-top: -5px;
    cursor: pointer;
}

.modal-content {
    border-radius: 0px;
    padding: 15px;
    color: $gris-texto;
}