<div class="row">

    <div class="col col-12 col-md-9 col-lg-7 art-container">
        <div class="art-preview" [innerHTML]="artSanitarized"></div>
        <br>
        <button class="btn-aec" data-toggle="modal" data-target="#modalArticle">Texto completo</button>
    </div>

</div>

<div class="modal fade" id="modalArticle" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div [innerHTML]="artSanitarized"></div>
                <button type="button" class="btn btn-aec btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
