<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-12 col-lg-7 img-principal-container">
            <img style="width: 97%" src="./assets/images/img-principal.png"/>
        </div>
        <div class="col col-12 col-lg-5 text-principal-container">
<!--             <read-more [fullText]="descriptionText"></read-more>
            <p class="full-description-text" *ngFor="let parrafo of descriptionText">
                {{parrafo}}
            </p> -->
        </div>
    </div>
    <br>
    <!-- Legisladores -->
    <app-legisladores [diputadxs]="senadorxs|async"></app-legisladores>

    <!-- Contador -->
    <counter [diputadxs]="senadorxs|async" [resultadoFinal]="resultadoFinal" [showVideo]="showVideo"></counter>

    <!-- Contador de mensajes -->
    <messages-counter [messages]="messages"></messages-counter>

    <!-- Videos -->
    <about-reform id="about-page"></about-reform>

    <!-- Eventos
    <events></events>
    -->

    <!-- Proyecto del ley -->
    <!-- <abortion-bill></abortion-bill> -->

    <!-- Sobre nosotrxs -->
    <about></about>

</div>
