.main-image {
    background-image: url("/assets/ilustracion-pag-principal.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 577px) {
    .main-image {
        height: 90%;
    }
}

.convence-fixed-button {
    position: fixed;
    top: 87vh;
    right: 7vw;
}

.convence-fixed-button .row .btn {
    font-size: 35px;
    background-color: #f25926 !important;
    border-color: #f25926;
}

p {
    font-family: GFSDidot;
}

.img-principal-container {
    padding: 0px !important;
}

.text-principal-container {
    font-size: 14px;
}

@media (min-width: 1200px) { 
    .text-principal-container {
        margin-top: 9%;
    }
 }

@media (min-width: 992px) and (max-width: 1199px){ 
    .text-principal-container {
        margin-top: 5%;
    }
}

@media (min-width: 576px) {
    .full-description-text {
        visibility: visible;
        display: block;
    }

    read-more {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 575.98px) {
    .full-description-text {
        visibility: hidden;
        display: none;
    }

    read-more {
        visibility: visible;
        display: block;
    }
}