@font-face { 
    font-family: GFSDidot; 
    src: url('../assets/fonts/GFSDidot.ttf'); 
} 
$didot: GFSDidot;

@font-face {
    font-family: Brandon-Black;
    src: url('../assets/fonts/brandon/Brandon_blk.otf');
}
$brandon-black: Brandon-Black;

@font-face {
    font-family: Brandon-Bold;
    src: url('../assets/fonts/brandon/Brandon_bld.otf');
}
$brandon-bold: Brandon-Bold;

@font-face {
    font-family: Brandon-Regular;
    src: url('../assets/fonts/brandon/Brandon_reg.otf');
}
$brandon-regular: Brandon-Regular;

@font-face {
    font-family: Brandon-Medium;
    src: url('../assets/fonts/brandon/Brandon_med.otf');
}
$brandon-medium: Brandon-Medium;