@import "../../../theme/variables";

.container-fluid {
    background-color: $verde;
    min-height: 100%;
}

h1 {
    color: $blanco;
    font-family: $brandon-bold;
    text-align: center;
    font-size: 7vw;
    padding-top: 15px;

    @media (min-width: 768px) {
        font-size: 6vw;
    }

    @media (min-width: 1200px) {
        font-size: 5vw;
    }
}

.positions {
    padding-bottom: 3vh;
    text-align: center;
    display: block;
    font-size: 110%;
    font-family: $brandon-medium;
    color: $blanco !important;
}

.filter {
    padding-top: 10px;
    // width: 80%;
    text-align: center;
    font-size: 80%;
    font-family: $brandon-medium;
    color: $blanco !important;
}
.enContra {
    background-color: $enContra;
}

.sinDefinir {
    background-color: $sinDefinir;
}

.aFavor {
    background-color: $aFavor;
}

.seAbstiene {
    background-color: $seAbstiene;
}

.diputadx {
    flex: 0 0 auto;
    margin-right: 3px;
    min-height: 20rem;
    width: 30vw;
    padding: .3vh;
    @media (min-width: 576px) { 
        width: 30vw;
        padding-bottom: 1vh;
    }

    @media (min-width: 768px) {
        width: 20vw;
        padding-bottom: 2vh;
    }

    @media (min-width: 1200px) {
        width: 15vw;
    }
    .dip-body {
      white-space: nowrap;
      color: $blanco;
      font-size: 100%;
      overflow:hidden !important;
      //text-overflow: ellipsis;
      padding: .5vh;

      @media (min-width: 768px) {
          font-size: 120%;
      }
      .dip-nombre {
        font-family: $brandon-black;
      }

      .dip-bloque {
        font-family: $brandon-regular;
        position: relative;
        top: -5px;
      }
    }
}


.card-img-top {
    object-fit: cover;
    border-radius: 0px;
}

.card-img-top.enContra {
  border-bottom: $enContra 10px solid;
}

.card-img-top.sinDefinir {
  border-bottom: $sinDefinir 10px solid;
}

.card-img-top.aFavor {
  border-bottom: $aFavor 10px solid;
}

.card-img-top.seAbstiene {
  border-bottom: $seAbstiene 10px solid;
}


.fbpost {
  font-size: 80%;
  font-family: $brandon-regular;
}


.dip-buttons {
    margin-top: -4%;
    @media (min-width: 576px) {
        margin-top: -6%;
    }
}

.dip-btn {
    border-radius: 0px !important;
    background-color: black;
    color: $blanco !important;
    border: 0px;
    font-family: $brandon-black;
    padding: 0px;
    width: 100%;
    margin: 2px;
    @media (max-width: 767.98px) {
      margin: 3px;
      padding: 4px;
    }
}

.dip-btn:hover {
  background-color: #333333;
}

.llamar-btn {
  width: 100%;
  font-size: 3vw;
  border-radius: 0px !important;
  background-color: black;
  color: $blanco !important;
  border: 0px;
  font-family: $brandon-black;
  margin: 5px;
  @media (max-width: 767.98px) {
    font-size: 7vw;
  }
  // @media screen and (orientation:landscape) and (min-width: 600px) {
  //   display: none;
  // }
}

.llamar-texto {
  display: none;
  @media screen and (orientation:landscape) and (min-width: 600px) {
    display: inherit;
  }
}

.modal-content {
  border: 0px;
  border-radius: 0px;
  background-color: $gris;
  font-family: $brandon-bold;
  font-size: 30px;
  text-align: center;
  line-height: 32px;
  .llamar-texto {
    font-size: 20px;
  }
  p {
    margin-bottom: 0;
  }
  .dip-btn {
    width: 50%;
    text-align: center;
  }
}

.nro-interno {
  font-size: 45px;
  color: $verde;
  font-size: 40px;
  line-height: 40px;
}

.modal-header,
.modal-footer {
  border: 0px;
  border-radius: 0px;
}
